<% visitor ||= Visitor.new %>
<%= turbo_frame_tag "new_visitor_form" do %>

  <div data-controller="webcam">
   
    <%= simple_form_for @visitor, url: visitors_path, data: { turbo: true, visitor_form_target: "form"}, html: { id: "visitor_form" } do |f| %>
       
      <div class="row">
        <div class="col-md-6">
          <%= f.input :cpf, label_html: { class: 'text-white' }, id: "visitor_cpf", input_html: { class: "form-control bg-secondary text-white" } %>
        </div>
        <div class="col-md-6">
          <%= f.input :name, label_html: { class: 'text-white' }, wrapper_html: { class: 'text-white' }, input_html: { class: "form-control bg-secondary text-white" } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= f.input :phone, label_html: { class: 'text-white' }, wrapper_html: { class: 'text-white' }, input_html: { class: "form-control bg-secondary text-white" } %>
        </div>
        <div class="col-md-6">
          <%= f.input :company, label_html: { class: 'text-white' }, wrapper_html: { class: 'text-white' }, input_html: { class: "form-control bg-secondary text-white" } %>
        </div>
      </div>

      <div class="row">
        <!-- Área para exibir a webcam -->
        <div id="webcam-container" class="mb-3">
          <div data-webcam-target="camera"  id="my_camera" style="width: 320px; height: 240px;"></div>
          <button type="button" class="btn btn-primary mt-2" data-action="click->webcam#takeSnapshot">
            Capturar Foto
          </button>
        </div>
      </div>

      <div class="row">
        <!-- Campo oculto para armazenar a foto capturada -->
        <%= f.file_field :photo, as: :file, id: "visitor_photo_file", data: { webcam_target: "photoInput" }, label: "Foto do Visitante" %>

        <!-- Área para exibir a foto capturada -->
        <div id="results" class="mb-3">
          <img id="captured_photo" src="#" alt="Foto Capturada" style="display: none; width: 320px; height: 240px;" data-webcam-target="capturedPhoto" />
        </div>
      </div>
      
      <div class="modal-footer">
          <div >
          <button type="button" class="btn btn-secondary"  data-action="click->visitor-form#cancel" data-bs-dismiss="modal">Cancelar</button>
          <%= f.button :submit, "Salvar", class:"btn btn-primary" %>
        </div>
      </div>

    <% end %>
    
  </div>
<% end %>
